<!DOCTYPE html>
<html>
  <head>
    <title>RailsStarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'signed_out' %>
    <%= javascript_pack_tag 'signed_out' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
